.container{
    text-align: center;
    font-weight: bolder;
    height: 100vh;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 40px  auto auto 40px;
    grid-template-areas: 
        "h h h"
        "c c c"
        "w w w"
        "f f f" 
    ;
}

.header{
    grid-area: h;
    background-color: blue;
}

.content{
    grid-area: c;
    background-color: red;
}

.widget{
    grid-area: w;
    background-color: yellow;
}

.footer{
    grid-area: f;
    background-color: purple;
}

@media  screen and (min-width: 1000px){
    .container{
        height: 100vh;
        display: grid;
        grid-gap: 3px;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 40px  auto 200px 40px;
    }

    .header{
        grid-row: 1 / -1;
        grid-column: 1 / 3;
    }

    .content{
        grid-row: 1 / 4;
        grid-column: 3/ -1;
    }

    .widget{
        grid-column: 3 / -1;
    }

    .footer{
        grid-column: 3 / -1;
    }

}

@media screen and (min-width: 3000px){

    .container{
        height: 100vh;
        display: grid;
        grid-gap: 3px;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 40px  auto 200px 40px;
        grid-template-areas: 
            "h h c c c c c c c c w w"
            "h h c c c c c c c c w w "
            "h h c c c c c c c c w w"
            "h h f f f f f f f f w w" 
        ;
    }
}
